# ===== .NET =====
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===== Rider =====
.idea/
*.sln.iml

# ===== Visual Studio =====
.vs/

# ===== Environment & Secrets =====
.env
appsettings.*.local.json
appsettings.Development.json